[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
shapely = "*"
requests = "*"
rich = "*"
"github.py" = "*"
matplotlib = "*"

[dev-packages]
black = "*"
ipython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
